.modal-info {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: $column--width / 2;
	background-color: white;
	//	transition: 300ms ease-in-out;
	//overflow: hidden;
	.info-modal--text-container {
		text-align: justify;
		hyphens: auto;
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: $column--width * 6;

		.text-container__links {
			margin: 0;
			padding: 0;
			columns: 2;
			column-gap: $column--width / 2;
			list-style: none;
			width: fit-content;
			margin-top: auto;

			li:nth-child(3n) {
				margin-bottom: -5px;
			}
		}
	}

	.info-modal--button {
		background-color: $white;
		width: $column--width / 2;
		height: $column--width;
		position: absolute;
		bottom: $column--width / 2;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;

		a,
		span {
			text-decoration: none;
			color: $black;
			//transform: rotate(90deg);
			margin: 0 auto;
			line-height: initial;
		}
	}
	@media screen and (min-width: $small-phone-breakpoint) {
		padding: $column--width / 1.5;
	}
	@media screen and (min-width: $small-phone-breakpoint) and (max-width: $phablet-breakpoint) and (max-height: $small-phone-breakpoint * 1.5), handheld and (orientation: landscape), screen and (max-height: $small-phone-breakpoint * 1.5) {
		min-height: 100vh;
		height: initial;
	}
	@media screen and (min-width: $phablet-breakpoint) and (min-aspect-ratio: 1/1) and (min-height: $column--width * 8) {
		position: absolute;
		width: $column--width * 8;
		height: $column--width * 8;
		padding: $column--width;
		right: $column--width * 2;
		bottom: 0;

		&:after {
			content: '';
			background-color: $black;
			width: $column--width / 2;
			height: $column--width;
			position: absolute;
			bottom: $column--width / 2;
			right: 0;
		}

		.info-modal--button {
			right: $column--width / 2;
		}

		&:after,
		.info-modal--button {
			bottom: $column--width;
		}
	}
	@media screen and (min-width: $tablet-breakpoint) and (min-height: $tablet-breakpoint) {
		padding: $column--width;
		//height: 50vh;
	}
}
