html {
	box-sizing: border-box;
	border-collapse: collapse;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
}

* {
	border-collapse: inherit;
}

*,
:after,
:before {
	box-sizing: inherit;
}

:not(body) {
	background-position: 50%;
	background-size: cover;
}

body {
	min-height: 100vh;
	background-color: $black;
	display: flex;
	flex-direction: column-reverse;
	overflow-x: hidden;
	@media screen and (min-width: $phablet-breakpoint) and (min-aspect-ratio: 1/1) and (min-height: $column--width * 8) {
		display: initial;
		overflow: hidden;
	}
}

.logo-devign {
	position: absolute;
	top: $column--width / 2;
	right: $column--width / 2;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {
		height: $column--width / 2;

		path {
			fill: $white;
		}
	}
	@media screen and (min-width: $phablet-breakpoint) and (min-aspect-ratio: 1/1) and (min-height: $column--width * 8) {
		height: $column--width * 2;
		width: $column--width * 2;
		right: 0;
		top: 0;

		svg {
			path {
				fill: $white;
			}
		}
	}
}

.scroll-indicator__down {
	position: absolute;
	background-color: $white;
	bottom: 0;
	left: calc(50% - 1px);
	height: $column--width;
	width: 1px;
	display: block;
	@media screen and (min-width: $phablet-breakpoint) and (min-aspect-ratio: 1/1) and (min-height: $column--width * 8) {
		display: none;
	}
}

.canvas--background {
	width: $column--width__flex * 12;
	height: 100vh;
	background-color: $black;
	@media screen and (min-width: $phablet-breakpoint) and (min-aspect-ratio: 1/1) and (min-height: $column--width * 8) {
		position: absolute;
		z-index: -1;
		left: 0;
		width: $column--width__flex * 8;
		height: 100vh;

		&:before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			z-index: 2;
			background-image: linear-gradient(90deg, rgba(0,0,0,0.00) 80%, $black 100%);
		}
	}
}
