.modal-info {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: $column--width / 2;
	background-color: white;

  transition: 1s ease-in-out;
  transform: translate(200px, 0);

  &.visible {
    transform: translate(0, 0);
  }

//	transition: 300ms ease-in-out;
	//overflow: hidden;
	.info-modal--text-container {
		text-align: justify;
		hyphens: auto;
		display: flex;
		flex-direction: column;
		height: 100%;
		max-width: $column--width * 8;

		.text-container__links {
			columns: 2;
			column-gap: $column--width / 2;
			list-style: none;
			width: fit-content;
			margin-top: auto;

			li:nth-child(3n) {
				margin-bottom: -5px;
			}
		}
	}

	.info-modal--button {
		background-color: $white;
		width: $column--width / 2;
		height: $column--width;
		position: absolute;
		bottom: $column--width / 2;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		transition: $delay__1 $transition--smooth;
		a,
		span {
			text-decoration: none;
			color: $black;
			transform: rotate(90deg);
			margin: 0 auto;
			line-height: initial;
		}
	}

	@media screen and (min-width: $phablet-breakpoint) {
			position: absolute;
		width: $column--width * 7;
		height: $column--width * 7;
		padding: $column--width;
		//top: $column--width * 2;
		right: $column--width * 2;
		bottom: 0;

		.info-modal--button {
			bottom: $column--width / 1.25;

		}

			&:after {
				content: '';
				background-color: $black;
				width: $column--width / 2;
				height: $column--width;
				position: absolute;
				bottom: $column--width / 1.25;
				right: 0;
			}

	}
}
