// Colors
$black: #000;
$white: #fff;
$blue: #0000ED;

// Sizes
$column--width: 70px;
$column--width__flex: 100vw / 12;


// Responsive
$small-phone-breakpoint: 22em; // if base-pixel = 16 -> $column--width * 5 = 350px ~~ 22em
$phablet-breakpoint: 35em; // if base-pixel = 16 -> $column--width * 8 = 560px ~~ 35em
$tablet-breakpoint: 48em; // idc
$desktop-breakpoint: 64em; // ~
$large-desktop-breakpoint: 80em; // aka compensate screen

// Typography

$base-font-size: 94; // Gets used as %
$base-font-size-desktop: 98;
$line-height: 1.4;
$line-height-desktop: 1.45;
$base: ($base-font-size / 100); // We'll need this for some calculations

$ratio: 1.5; // Perfect Fifth // Modular scale
