@font-face {
  font-family: 'GTWalsheimLight';
  src: url('../assets/fonts/GTWalsheimLight.eot'),
			 url('../assets/fonts/GTWalsheimLight.eot?#iefix') format('embedded-opentype'),
			 url('../assets/fonts/GTWalsheimLight.woff') format('woff'),
       url('../assets/fonts/GTWalsheimLight.ttf') format('truetype'),
       url('../assets/fonts/GTWalsheimLight.svg#GTWalsheimLight') format('svg');
  font-weight: lighter;
  font-style: lighter;
}


@font-face {
  font-family: 'Perpetua-Bold';
  src: url('../assets/fonts/Perpetua-Bold.eot'),
			 url('../assets/fonts/Perpetua-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../assets/fonts/Perpetua-Bold.woff') format('woff'),
       url('../assets/fonts/Perpetua-Bold.ttf') format('truetype'),
       url('../assets/fonts/Perpetua-Bold.svg#Perpetua-Bold') format('svg'),
       url('../assets/fonts/Perpetua-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: bold;
}


$font--sans: 'GTWalsheimLight', 'Helvetica', sans-serif;
$font--serif: 'Perpetua-Bold', 'Georgia', serif;

// Custom Adjustments

body {
  text-rendering: geometricPrecision;
	font-family: $font--sans;
  h1, h2, h3, h4, h5, h6 {
		font-variant-ligatures: discretionary-ligatures;
    font-family: $font--serif;
  }
  h1:first-child {
    @include margin-top(0);
  }
	li {
		@include margin-bottom(0.5);
	}
}
