// Breakpoints
// -----------
$transition--smooth: cubic-bezier(0.86, 0, 0.07, 1);
$ratio: 1.65;
$delay__main: 1860ms;
$delay__1: 165ms;
$delay--total: $delay__1 * ($ratio * 2);
$fadeinBottom: $delay--total $transition--smooth fadeInBottom forwards;
