// Typography
// ----------
$base-font-size: 94; // Gets used as %
$base-font-size-desktop: 98;
$line-height: 1.4;
$line-height-desktop: 1.45;
$base: ($base-font-size / 100); // We'll need this for some calculations

$ratio: 1.5; // Perfect Fifth // Modular scale
